body{
    font-family:Arial;
    background:#1b5e20;
    text-align:center;
    color:white;
}

#board{
    width:500px;
    height:500px;
    margin:auto;
    display:grid;
    grid-template-columns:repeat(10,1fr);
    border:5px solid white;
}

.cell{
    border:1px solid #fff;
    background:#81c784;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:14px;
    position:relative;
}

.player{
    width:18px;
    height:18px;
    background:red;
    border-radius:50%;
    position:absolute;
}
button{
    padding:10px 20px;
    font-size:18px;
    margin-top:20px;
}